# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset

In [ ]:
# Original Dataset load (266MB big)

In [31]:
df = pd.read_csv ('data/orders 2022-03-05T1431.csv')

C:\Users\Natalia Gonzalez\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.shape

(2460001, 15)

In [4]:
df.head(100)

,Unnamed: 0,Code,Store Name,Store ID,Termination Local Date,Termination Local Time,Total Purchase,ID,Registration Age Range,Made More Than One Order (Yes / No),Last Order Date,Staff (Yes / No),Top Fifty (Yes / No),Rating Store Service,Positive Store Service (Yes / No)
0,1,B3JKGPPT,Five Guys,223524.0,2021-12-30,2021-12-30 12:59:24,11.5,861650.0,NaN,Yes,2021-12-30,No,No,Missing,No
1,2,BBRACYGD,Parking Pizza,1419.0,2021-12-30,2021-12-30 13:25:22,14.0,444732.0,NaN,Yes,2022-03-04,No,Yes,Positive,Yes
2,3,BSMP18DY,Crep Nova,97780.0,2021-12-30,2021-12-30 21:14:14,25.6,619969.0,25.0,Yes,2022-03-02,No,Yes,Positive,Yes
3,4,B3EQU1C8,McDonald's®,9487.0,2021-12-30,2021-12-30 22:42:29,16.2,1784091.0,50.0,Yes,2022-02-27,No,No,Missing,No
4,5,BRG4B1PG,TexMex & Co,2122.0,2021-12-30,2021-12-30 21:39:17,28.85,6715.0,NaN,Yes,2022-01-23,No,No,Positive,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,B1VLURKR,Metropolitan Gourmet Burgers,40961.0,2021-12-30,2021-12-30 14:04:42,71.0,9749772.0,NaN,Yes,2022-03-01,No,No,Missing,No
96,97,B8PLTJMW,McDonald's®,9487.0,2021-12-30,2021-12-30 21:01:11,10.5,58048.0,NaN,Yes,2022-03-04,No,No,Positive,Yes
97,98,BVWZGWJC,Envols-Poké Bowls,118386.0,2021-12-30,2021-12-30 13:34:50,13.65,100490.0,NaN,Yes,2022-03-04,No,No,Positive,Yes
98,99,BL1LL1U5,Bonrollo,3116.0,2021-12-30,2021-12-30 21:15:34,9.5,19691738.0,NaN,Yes,2022-02-28,No,No,Missing,No
99,100,BLACLTHH,McDonald's®,9487.0,2021-12-30,2021-12-30 21:55:26,39.35,1253141.0,NaN,Yes,2022-03-04,No,No,Missing,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460001 entries, 0 to 2460000
Data columns (total 15 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Unnamed: 0                           object
 1   Code                                 object
 2   Store Name                           object
 3   Store ID                             float64
 4   Termination Local Date               object
 5   Termination Local Time               object
 6   Total Purchase                       object
 7   ID                                   float64
 8   Registration Age Range               float64
 9   Made More Than One Order (Yes / No)  object
 10  Last Order Date                      object
 11  Staff (Yes / No)                     object
 12  Top Fifty (Yes / No)                 object
 13  Rating Store Service                 object
 14  Positive Store Service (Yes / No)    object
dtypes: float64(3), object(12)
memory usage: 281.5+ MB

In [21]:
# Identificando NAs
df.isna().sum()

Unnamed: 0                                   0
Code                                         1
Store Name                                   1
Store ID                                     1
Termination Local Date                       1
Termination Local Time                       1
Total Purchase                               1
ID                                           1
Registration Age Range                 2004561
Made More Than One Order (Yes / No)          1
Last Order Date                             63
Staff (Yes / No)                             1
Top Fifty (Yes / No)                         1
Rating Store Service                         1
Positive Store Service (Yes / No)            1
dtype: int64

In [32]:
# Identifying which row is the one with NA
df.drop('Registration Age Range',axis=1).isna()==True

,Unnamed: 0,Code,Store Name,Store ID,Termination Local Date,Termination Local Time,Total Purchase,ID,Made More Than One Order (Yes / No),Last Order Date,Staff (Yes / No),Top Fifty (Yes / No),Rating Store Service,Positive Store Service (Yes / No)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2459997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2459998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2459999,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2460000,False,True,True,True,True,True,True,True,True,True,True,True,True,True

In [25]:
# Counterproof of row identified
df.loc[2460000]

Unnamed: 0                             SQL Error: ERROR: Query (77073085) cancelled b...
Code                                                                                 NaN
Store Name                                                                           NaN
Store ID                                                                             NaN
Termination Local Date                                                               NaN
Termination Local Time                                                               NaN
Total Purchase                                                                       NaN
ID                                                                                   NaN
Registration Age Range                                                               NaN
Made More Than One Order (Yes / No)                                                  NaN
Last Order Date                                                                      NaN
Staff (Yes / No)                                                                     NaN
Top Fifty (Yes / No)                                                                 NaN
Rating Store Service                                                                 NaN
Positive Store Service (Yes / No)                                                    NaN
Name: 2460000, dtype: object

In [33]:
# Droping the row identified
df.drop([2460000], axis=0, inplace=True)

In [34]:
df.isna().sum()

Unnamed: 0                                   0
Code                                         0
Store Name                                   0
Store ID                                     0
Termination Local Date                       0
Termination Local Time                       0
Total Purchase                               0
ID                                           0
Registration Age Range                 2004560
Made More Than One Order (Yes / No)          0
Last Order Date                             62
Staff (Yes / No)                             0
Top Fifty (Yes / No)                         0
Rating Store Service                         0
Positive Store Service (Yes / No)            0
dtype: int64

In [35]:
#Checking information regarding Age Range
df['Registration Age Range'].value_counts()

30.0     141758
25.0     119350
35.0      87945
40.0      47185
45.0      23206
20.0      17861
50.0       9899
55.0       3748
60.0       1538
115.0       608
105.0       567
65.0        559
70.0        360
110.0       221
100.0       164
75.0        150
90.0        138
15.0         74
95.0         39
80.0         36
85.0         34
Name: Registration Age Range, dtype: int64

In [36]:
df.groupby('Store Name')['ID'].count()

Store Name
 Anita Gelato             977
 Arepa Market             113
 BBQ Express              516
 Bebo Brunch & Juicery    152
 Chashu Ramen             158
                         ...
llaollao                  737
oMomento Barcelona         70
¡Oh Mommy! Cafè&Brunch     44
¡Ándale Burrito!          280
Ándele                    698
Name: ID, Length: 2830, dtype: int64

In [37]:
df['Positive Store Service (Yes / No)'].value_counts()

No     1484266
Yes     975734
Name: Positive Store Service (Yes / No), dtype: int64

In [ ]:
# Creation of smaller datasets

In [39]:
df1 = df[['Code','Store Name','ID','Positive Store Service (Yes / No)']]

In [40]:
df1.to_csv('data\df_matrix.csv',index=False)

In [41]:
df1.shape

(2460000, 4)